.enter-container {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

.enter-button {
  width: 25vw;
  height: 25vh;
  border-radius: 90%;
  font-weight: bold;
  text-transform: capitalize;
  background-color: cadetblue;
  color: #4f3b61;
  transition-duration: 1s;
}

.enter-button:hover {
  background-color: #4f3b61;
  color: cadetblue;
  transition-duration: 1s;
}

.enter-button:visited {
}
