.gig-container a li {
  list-style: none;
  background-color: cadetblue;
  color: #4f3b61;
  border: 2px solid #4f3b61;
  width: 80%;
  margin: auto;
  text-align: center;
}

.gig-container a li:hover {
  background-color: #4f3b61;
  color: cadetblue;
  border: 2px solid cadetblue;
}

a:hover {
  color: cadetblue;
}
