nav {
  display: flex;
  justify-content: flex-end;
  transition: width 100s;
  background: cadetblue;
}

.selected {
  background-color: rgb(79, 59, 97);
  color: cadetblue;
}

.not-selected {
  background-color: cadetblue;
  color: rgb(79, 59, 97);
}
nav button {
  width: 100%;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav a {
  transition: 40s width;
}

nav a:hover {
  width: 30vw;
}
button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}
